repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
  - id: pretty-format-json
    args: [--autofix, --indent, '2']
  - id: check-yaml
  - id: end-of-file-fixer
  - id: trailing-whitespace
    exclude: |
      (?x)^(
        .*\.meta$
      )$
  - id: check-toml
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.16
  hooks:
  - id: mdformat
    exclude: |
      (?x)^(
        LICENSE
      )$
    additional_dependencies: [mdformat-gfm, mdformat-frontmatter]
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.12.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --indent, '2', --line-width, '120']
    exclude: |
      (?x)^(
        .*\.meta$
      )$
- repo: local
  hooks:
  - id: dotnet-tool-restore
    name: Install .NET tools
    entry: dotnet tool restore
    language: system
    always_run: true
    pass_filenames: false
    stages:
    - commit
    - push
    - post-checkout
    - post-rewrite
    description: Install the .NET tools listed at .config/dotnet-tools.json.
  - id: csharpier
    name: Run CSharpier on C# files
    entry: dotnet tool run dotnet-csharpier
    language: system
    types:
    - c#
    description: CSharpier is an opinionated C# formatter inspired by Prettier.
