.root-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.objects-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #303030;
    border-radius: 6px;
    border-width: 1px;
    border-color: #404040;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
    overflow: hidden;
}

.path-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #303030;
    border-radius: 6px;
    border-width: 1px;
    border-color: #404040;
    flex-direction: column;
    align-items: center;
}

.generate-button {
    margin: 5px;
    padding: 8px;
    background-color: #444444;
    border-width: 1px;
    border-color: #646464;
    border-radius: 3px;
    -unity-text-align: middle-center;
    font-size: 12px;
    transition: background-color 0.2s;
    height: 30px;
}

.generate-button:hover {
    background-color: #555555;
}

.generate-button:active {
    background-color: #333333;
}

.generate-button:disabled {
    opacity: 0.5;
    background-color: #3a3a3a;
}

TextField {
    margin: 2px;
    width: 100%;
    min-width: 100px;
    flex-shrink: 1;
    flex-grow: 1;
}

.unity-text-field {
    min-width: 100px;
    max-width: 100%;
}

.unity-text-field__input {
    min-width: 60px;
    flex-grow: 1;
    flex-shrink: 1;
}

.unity-text-field__label {
    min-width: 130px;
    width: 130px;
    flex-grow: 0;
    flex-shrink: 0;
}

.unity-base-field__label {
    min-width: 130px;
    width: 130px;
    flex-grow: 0;
    flex-shrink: 0;
}
