.root-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.objects-container {
    margin-bottom: 0px;
    padding: 10px;
    background-color: #303030;
    border-radius: 6px 6px 0px 0px;
    border-width: 1px 1px 0px 1px;
    border-color: #404040;
}

.renderer-container {
    margin-bottom: 5px;
}

.renderer-container > * {
    margin-bottom: 2px;
}

#parameterFilterField {
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 5px 5px 0px 5px;
}

.warning-label {
    color: rgb(255, 179, 0);
    margin: 5px 10px;
    -unity-font-style: bold;
}

.dropdown-container {
    flex-direction: column;
    justify-content: space-between;
    margin: 4px 0px 4px 0px;
}

.dropdown-container > * {
    flex: 1;
    margin-right: 5px;
}

.dropdown-container > *:last-child {
    margin-right: 0;
}

#maxValueField {
    margin-bottom: 8px;
}

#animationNameField {
    margin-bottom: 8px;
}

.generate-button {
    margin: 5px;
    padding: 8px;
    background-color: #444444;
    border-width: 1px;
    border-color: #646464;
    border-radius: 3px;
    -unity-text-align: middle-center;
    font-size: 12px;
    transition: background-color 0.2s;
    height: 30px;
}

.generate-button:hover {
    background-color: #555555;
}

.generate-button:active {
    background-color: #333333;
}

.generate-button:disabled {
    opacity: 0.5;
    background-color: #3a3a3a;
}
